*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

nav > ul li {
    overflow: hidden;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 2px;
}

nav > ul > li a {
    display: block;
    line-height: 100px;
}

