@font-face {
    font-family: 'Sigmar One';
    src: url('../assets/fonts/SigmarOne-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


h1.title{
    font-family: 'Sigmar One';
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
}

h1.red{
    background-color: red;
}

h1.green{
    background-color: green;
}

h1.normal{
    background-color: blue;
}